:root {
    background-color: white;
    --borderRadius: 1rem;
    --fontStyle: 'sans-serif, Courier, monospace';
}

* {
    font-size: 
    font-family: "sans-serif";
}

.title {
    font-family: var(--fontStyle);
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.bodyText {
    font-family: var(--fontStyle);
    font-size: 16px;
    color: white;
}

.container {
    max-height: 80%;
    width: 800px;
    max-width: 80%;
    background-color: black;
    border-radius: var(--borderRadius);
    padding: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    background-color: blue;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    border-radius: var(--borderRadius);
}

.btn {
    font-family: var(--fontStyle);
    background-color: ;
    font-weight: bold;
    font-size: 32px;
    padding: 1rem;
    margin: 1rem;
    border-radius: var(--borderRadius);
}

.btn:hover {
    cursor: pointer;
    border-color: black;
    transform: scale(1.05);
}