:root {
    background-image: url(../images/Back.jpg);
    background-size: cover;
    --borderRadius: 1rem;
    --fontStyle: sans-serif, Courier, monospace;
}

* {
    font-family: var(--fontStyle);
    margin: 0px;
}

#timer {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin: 16px;
}

.title {
    font-size: 64px;
    font-weight: bold;
    color: black;
    margin: 16px;
}

.bodyText {
    font-size: 32px;
    color: black;
    margin: 16px;
}

.container {
    min-height: auto;
    max-height: 80%;
    width: 80%;
    max-width: 80%;
    background-color: rgb(255,255,255,0.5);
    border-radius: var(--borderRadius);
    /*box-shadow: -10px 10px rgb(0,0,0,0.2);*/
    padding: 16px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    border-radius: var(--borderRadius);
}

.btn {
    min-width: 100px;
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 32px;
    padding: 1rem;
    margin: 1rem;
    border-radius: var(--borderRadius);
    background: linear-gradient(45deg, rgb(168, 161, 161) 0%, rgb(255,255,255,1) 100%);
}

.btn:hover {
    cursor: pointer;
    border-color: black;
    transform: scale(1.05);
    transform: transform 100ms;
    box-shadow: -2px 2px rgba(0,0,0,0.5);
    color: rgb(0, 0, 0, 0.5);
}
